.planClient {
  display: flex;
  flex-direction: column;
  // position: relative;

  .block-button_planClient {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;

    .buttonBase_planClient {
      width: 10%;
    }
    .button-addExercises_planClient {
      width: 15%;
    }
    .buttonBack_planClient {
      width: 15%;
    }
  }

  .back_Client_list {
    padding-bottom: 50px;
  }
  .base-trainings-page {
    display: flex;
    gap: 50px;
    margin: 100px 30px;
  }
  .tranings-content {
    width: 50%;
  }
  .traning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .traning-date {
      display: flex;
      justify-content: center;
      gap: 10px;

      .traning-day {
        font-weight: 700;
      }
    }
  }
  .base-trainings-page {
// margin-left: 100px;
  }
}
