.listItem {
  cursor: pointer;
  margin: 15px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f5f5f5;
  }
}

.isActive {
  background-color: #a8c3f9;

  &:hover {
    background-color: #a8c3f9;
  }
}
