.clientData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 15px;
}

.segment {
  margin: 7px 0;
  padding: 0;
  font-size: 18px;
}

.avatar {
  margin: 10px 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  margin: 20px 0;
}
