.labtabs {
  position: absolute;
  top: 200px;
  left: 300px;
}

.addButtonTab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.drawer {
  display: flex;
}

.blockDay {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date {
  display: flex;
  align-items: end;
  gap: 30px;
  margin-bottom: 16px;

  h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }

  h5 {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
}

.exercises {
  display: flex;
  align-items: end;
  gap: 30px;
  padding: 8px 0;

  h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  h5 {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
}
