.button_open_modal {
  position: absolute;
  top: 5px;
  left: 1220px;
  color: #9e9d9d;
 font-size: 10px !important;

}
.text_modal {
display: flex;
gap: 30px;

}

.button_modal_add {
  position: absolute;
  top: 16px;
  float: right;
 
}