.data-list {
  display: flex;
  flex-direction: column;
  
}
.exercise {
  h5 {
    margin: 5px;
  font-size: 10px;
  cursor: pointer;
  }
 
}


.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color:#EBECF0!important;
}