.traningContainer {
  margin-left: 30px;
}

.exercise {
  height: 35px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.traningDate {
  margin: 30px 0;
}

.traning {
  width: 35%;
}
